@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   scroll-behavior: smooth;
}

@font-face {
   font-family: Nohemi;
   src: url(./fonts/Nohemi-Regular-BF6438cc4d0e493.ttf);
}

@layer base {
   body {
      @apply bg-background text-primary font-bodyContent;
   }
}
